[workspace]
resolver = "3"
members = ["panda-kernel", "userspace/init", "userspace/libpanda"]

[workspace.dependencies]
acpi = "6.0"
linked_list_allocator = "0.10"
log = "0.4"
spinning_top = "0.3.0"
uefi = { version = "0.36" }
virtio-drivers = "0.12"
x86_64 = { version = "0.15", default-features = false, features = ["instructions", "abi_x86_interrupt"] }
goblin = { version = "0.10", default-features = false, features = ["alloc", "elf32", "elf64", "endian_fd"] }
