[package]
name = "panda"
version = "0.1.0"
edition = "2024"

[dependencies]
acpi = "6.0"
linked_list_allocator = "0.10"
log = "0.4"
spinning_top = "0.3.0"
uefi = { version = "0.36" }
virtio-drivers = "0.12"
x86_64 = { version = "0.15", default-features = false, features = ["instructions"] }

[[bin]]
name = "panda"
test = true
bench = false
